* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #111;
    color: #fff;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    margin: 1rem auto;
    max-width: 650px;
}

.main {
    padding: 2rem;
    padding: 1.5rem;
    margin-top: 2rem;
    border: 1px solid #ccc;
    border-radius: .5rem;
}


/* Break Point */

@media (max-width: 800px) {
    body {
        margin: 1rem;
        width: 90%;
    }
    .main {
        margin-top: auto;
        padding: 1rem;
    }
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

a {
    color: #fff;
    text-decoration: none;
}