/* HEADER  */

.header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.header img {
    width: 150px;
    border: 1px solid #171619;
    border-radius: 50%;
    margin: 1rem 0 1rem;
}

.information {
    display: block;
    margin-top: 1.4rem;
}

.information p {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: .6rem;
}

.information p::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
    font-size: 1.125rem;
}

.information a {
    color: #fff;
}

.information .job::before {
    background-image: url('/assets/img/icons/githubico.svg');
}

.information .location::before {
    background-image: url('/assets/img/icons/location.svg');
}

.information .email::before {
    background-image: url('/assets/img/icons/email.svg');
}

.information .phone::before {
    background-image: url('/assets/img/icons/phone.svg');
}

@media (max-width: 800px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .information {
        margin: auto;
    }
    .information .title {
        justify-content: center;
        display: flex;
    }
}


/* FORMATION */

.formation {
    display: flex;
    flex-direction: column;
}

.formation li {
    margin-bottom: 1rem;
}

.formation li p {
    margin-top: 2px;
}

.formation li .period {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.formation li .period::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
    background-image: url('/assets/img/period.svg');
}


/* PORTFOLIO  */

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.portfolio li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
}

.portfolio li .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: .4rem;
}

.portfolio li .title.github::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
    background-image: url('/assets/img/icons/github.svg');
}

.portfolio a {
    color: #fff;
    transition: .2s ease-out;
}

.portfolio a:hover {
    color: #ddd;
}


/* ACORDEON */

.acordeon {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid #fff;
    border-radius: .5rem;
}

.acordeon:hover {
    background: linear-gradient(135deg, #3a0778, #8844ee);
}

.acordeon .trigger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* font-size: 1.5rem; */
    padding: 1rem 2rem;
    background-color: transparent;
    color: #fff;
    border: none;
}

.acordeon .trigger h2 {
    margin: 0;
    font-size: 1.5rem;
}

.acordeon .trigger::after {
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/assets/img/arrow-top.svg);
    transition: .2s;
}

.acordeon.open .trigger::after {
    transform: rotate(180deg);
}

.acordeon .content {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity .25s ease-in-out;
}

.acordeon.open .content {
    display: block;
    padding: 0 1rem 1rem 2rem;
    height: auto;
    opacity: 1;
}


/* PORTFOLIO */

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.portfolio li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
}


/* SKILLS */

.skills {
    display: flex;
    flex-direction: column;
}

.skills img {
    max-width: 45px;
    margin: .5rem;
}

.skills ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.skills ul li {
    margin-left: .5rem;
    padding: .5rem;
}

@media (max-width: 800px) {
    .skills ul li {
        margin-left: .4rem;
        padding: .4rem;
    }
}